 main{
    background-color: #eee;
    direction: rtl;
}

form {
  align-items: start;
}


.field,
.select {
    display: flex;
    justify-content: space-between;
    width: 350px;
}

label {
    margin-left: 20px;
}

select {
    width: 220px;
    height: 30px;
}

.ch-po {
    display: flex;
}

.ch-po input[type="radio"] {
    display: none;
}

.ch-po input[type="radio"]:checked+label {
    text-decoration: line-through;
}

input[type="submit"] {
    margin: 0 auto;
    cursor: pointer;
    block-size: auto;
    inline-size: 7em;
    color: rgb(255, 255, 255);
    background-color: rgb(22, 0, 70);
    border: 2px solid;
    border-radius: 5px;
    font: bold 20px sans-serif;
    padding: 10px;
}